config.sh
compose.override.yml
domain_list

*.conf

data/certbot/secrets/*
data/certbot/conf/*
data/nginx/www/*
!data/certbot/conf/options-ssl-nginx.conf
!data/certbot/conf/ssl-dhparams.pem
!**/.keep
