#!/bin/bash

### SET YOUR EMAIL AND DOMAINS TO CERTIFY
domains=(example.org www.example.org)
rsa_key_size=4096
data_path="./data/certbot"
email="" # Adding a valid address is strongly recommended
staging=0 # Set to 1 if you're testing your setup to avoid hitting request limits
timeout=10 # seconds - 10 is the default anyway
